body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

header{
	background-color: #0a1c66;
}

.header-content{
	background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    opacity: 0.7;
    z-index: 1000;
}

.header-content-left{
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: auto;
}
.header-content-right{
    position: absolute;	
    right: 0;
    height: 50px;
    width: auto;

}

.logo{
	color: lightyellow;
	font-family: 'Anton', sans-serif;
	font-size: 1.8em;
	margin: 5px 10px;
}

#menu li{
	text-decoration: none;
	display: inline-block;
}

#menu li a:link, #menu li a:visited{
	text-decoration: none;
	color: lightyellow;
	font-weight: bold;
	margin-right: 25px;
	font-size: 1.2em;
}

#menu li a:hover{
	text-decoration: underline;
}

.content-avatar{
	padding-top: 70px;
	display: flex;
	justify-content: center;
	
}

#banner{
	background-image: url('../images/banner.jpg');
	background-size: cover;
	height: 500px;
	position: relative;
	opacity:1;
}

#avatar{
	width: 250px;
	border-radius: 50%;
	border: 2px solid black;
}

.title-banner{
	font-family: 'Anton', sans-serif;
	color: darkorange;
	font-size: 3em;
	text-align: center;
	text-shadow: 7px 7px 3px rgba(0,0,0,1);

}

#content{
	width: 75%;
	margin: auto;
}

fieldset{
	border-radius: 10px;
	margin-top: 30px;
	border-color: #ccc;
	border-width: thin;
}

legend{
	font-weight: bold;
	color: white;
	background-color: #000;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 15px;
	/*letter-spacing: 0.3em;*/
	font-size: 1.1em
}

h2{
	font-size: 1.1em;
	color: darkorange;
	text-shadow: 1px 2px 1px rgba(0,0,0,0.7);
}

h3{
	font-size: 1em;
}

footer{
	margin-top: 30px;
	font-weight: bold;
	background-color: #ccc;
	color: #333;
	text-align: center;
	padding: 15px 0;
}

.item{
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center
}

.item-icon{
	padding: 15px;
	box-sizing: border-box;
	font-size: 1.5em;	
}

.item-content{
	font-size: 1.2em;
	line-height: 1.5em;	
	padding: 0 25px;
	width: 100%;	
}

li{
	margin-bottom: 15px;
}

.row{
	box-sizing: border-box;
	margin: 16px 0;
}

.workContainer{
	width: 33.3%;
	box-sizing: border-box;
	height: 307px;
	float: left;
}

.work{
	width: 90%;
	border: 1px solid #ccc;
	margin: auto;
	cursor: pointer;
	transition: 300ms;
}

.work:hover{
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	/*transform: scale(1.1);*/
}

.imgWork{
	height: 148px;
	box-sizing: border-box;
	background-size: 100%
}

.titleWork{
	font-size: 1.1em;
	font-weight: 700;
	box-sizing: border-box;
	height: 70px;
	display: flex;
	align-items: center;
	line-height: 1.5em;		
	padding: 0 21px;
	
}

.contentWork{
	color: #777;
	font-size: 1em;
	padding: 0 18px 30px 18px;
	height: 90px;
	line-height: 1.5em;	
}

/*@media print and (max-width: 993px){
	#menu{
		display: none;
	}
	#content{
		width: 95%;
	}

	.item-content{
		padding: 0;
		font-size: 1.1em;
	}

}

@media screen  and (max-width: 993px){
	#menu{
		display: none;
	}
	#content{
		width: 100%;
	}
}

@media screen  and (max-width: 615px){

	#skills{
		width: 90%;
	}
}

@media screen  and (max-width: 430px){
	.title-banner{
		font-size: 2em;
	}

	.item-icon{
		display: none;
	}
	.item-content{
		padding: 0;
		font-size: 1.1em;
	}

	ul,li{
		margin: 0;
		padding: 0;
	}

	ul li { 
		margin-bottom: 15px;
		list-style-type: none; 
	}
}*/